In [2]:
#int 
a = 5678
print(a ,type(a))

5678 <class 'int'>

In [3]:
#float
a = 56.45
print(a ,type(a))

56.45 <class 'float'>

In [4]:
#complex
a = 56 + 8j
print(a ,type(a))

(56+8j) <class 'complex'>

In [5]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [6]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [7]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [8]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [9]:
# list
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [10]:
a[2]= 2000
print(a)

[2, 3434, 2000, 5467]

In [11]:
a = [3,544,5,346,567]

print(a[3])

346

In [16]:
a [3]=900
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

TypeError: 'tuple' object does not support item assignment